    <div class="jumbotron">
      <div class="container">
        <h1>Hello,Welcome to MeLAB Exchange!</h1>
        <p>The Safest, Fastest CryptoCurrency Exchange Platform in ASEAN. The best part is, we can directly credit any amount into your local bank account or use our reliable MeLAB ewallet to enjoy more benefit!</p>
        <p><a class="btn btn-primary btn-lg" href="https://coinmarketcap.com/" role="button">Latest Price &raquo;</a><center> <a class="btn btn-primary btn-lg" href="" role="button">Our Exchange Coming Soon ! </a></center></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Recognition at universal level</h2>
          <p>Since cryptocurrency is not bound by the exchange rates, interest rates, transactions charges or other charges of any country; therefore it can be used at an international level without experiencing any problems.There is no other electronic cash system in which your account isn’t owned by someone else.
          Take PayPal, for example: if the company decides for some reason that your account has been misused, it has the power to freeze all of the assets held in the account, without consulting you. </p>
          <p><a class="btn btn-default" href="https://coinmarketcap.com/exchanges/volume/24-hour/" target="_blank" role="button">24hrs Exchange Volume &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Decentralization</h2>
          <p>A global network of computers use blockchain technology to jointly manage the database that records Bitcoin transactions. That is, Bitcoin is managed by its network, and not any one central authority. Decentralization means the network operates on a user-to-user (or peer-to-peer) basis. The forms of mass collaboration this makes possible are just beginning to be investigated. </p>
          <p><a class="btn btn-default" href="https://www.coinbase.com/" target="_blank" role="button">World Top exchange &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Fraud & Thief Proof</h2>
          <p> Individuals cryptocurrencies are digital and cannot be counterfeited or reversed arbitrarily by the sender, as with credit card charge-backs.When you give your credit card to a merchant, you give him or her access to your full credit line, even if the transaction is for a small amount. Credit cards operate on a “pull” basis, where the store initiates the payment and pulls the designated amount from your account. Cryptocurrency uses a “push” mechanism that allows the cryptocurrency holder to send exactly what he or she wants to the merchant or recipient with no further information.</p>
          <p><a class="btn btn-default" href="https://www.bestbitcoinexchange.io/" target="_blank" role="button">More Info on Exchange &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; MeLAB TradeMark</p>
      </footer>
    </div> <!-- /container -->

