<br><br>
<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">Welcome to MeLAB Remittance</div>
    <div class="panel-body">
      <form accept-charset="UTF-8" action="http://simple-form-bootstrap.plataformatec.com.br/examples/create_basic" class="simple_form new_user_basic" enctype="multipart/form-data" id="new_user_basic" method="post" novalidate="novalidate"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="YQbOHpiS3DwKbqLPAN5kBCvcSV2PS62lHn48DyI6cQY=" /></div>
  

  <div class="form-group email required user_basic_email"><label class="email required control-label" for="user_basic_email"><abbr title="required">*</abbr> Full Name of Recipient</label><input class="string email required form-control" id="user_basic_email" name="user_basic[email]" placeholder="Enter name" type="email" /><p class="help-block"></p></div>

  <div class="form-group password required user_basic_password"><label class="password required control-label" for="user_basic_password"><abbr title="required">*</abbr> Passport No/ Identification No</label><input class="password required form-control" id="user_basic_password" name="user_basic[password]" placeholder="Enter here" type="password" /><p class="help-block">We will keep this information private</p></div>

   <div class="form-group email required user_basic_email"><label class="email required control-label" for="user_basic_email"><abbr title="required">*</abbr> Recipient Bank Account No</label><input class="string email required form-control" id="user_basic_email" name="user_basic[email]" placeholder="Enter name" type="email" /><p class="help-block"></p></div>

  <div class="form-group boolean optional user_basic_active"><div class="checkbox"><input name="user_basic[active]" type="hidden" value="0" /><label class="boolean optional" for="user_basic_active"><input class="boolean optional" id="user_basic_active" name="user_basic[active]" type="checkbox" value="1" />Yes </label></div><p class="help-block">Recipient Residential Status</p></div>

  <div class="form-group check_boxes optional user_basic_choices"><label class="check_boxes optional control-label">Currency Choices</label><span class="checkbox"><label for="user_basic_choices_option_one_is_this_and_thatbe_sure_to_include_why_its_great"><input class="check_boxes optional" id="user_basic_choices_option_one_is_this_and_thatbe_sure_to_include_why_its_great" name="user_basic[choices][]" type="checkbox" value="Option one is this and that—be sure to include why it&#39;s great" />RinggitCoin</label></span><span class="checkbox"><label for="user_basic_choices_option_two_can_be_something_else_and_selecting_it_will_deselect_option_one"><input class="check_boxes optional" id="user_basic_choices_option_two_can_be_something_else_and_selecting_it_will_deselect_option_one" name="user_basic[choices][]" type="checkbox" value="Option two can be something else and selecting it will deselect option one" />SingCoin</label></span><input name="user_basic[choices][]" type="hidden" value="" />

  <span class="checkbox"><label for="user_basic_choices_option_one_is_this_and_thatbe_sure_to_include_why_its_great"><input class="check_boxes optional" id="user_basic_choices_option_one_is_this_and_thatbe_sure_to_include_why_its_great" name="user_basic[choices][]" type="checkbox" value="Option one is this and that—be sure to include why it&#39;s great" />BahtCoin</label></span><span class="checkbox"><label for="user_basic_choices_option_two_can_be_something_else_and_selecting_it_will_deselect_option_one"><input class="check_boxes optional" id="user_basic_choices_option_two_can_be_something_else_and_selecting_it_will_deselect_option_one" name="user_basic[choices][]" type="checkbox" value="Option two can be something else and selecting it will deselect option one" />RupiahCoin</label></span><input name="user_basic[choices][]" type="hidden" value="" /></div>

    <div class="form-group email required user_basic_email"><label class="email required control-label" for="user_basic_email"><abbr title="required">*</abbr> Amount</label><input class="string email required form-control" id="user_basic_email" name="user_basic[email]" placeholder="example :200.90" type="email" /><p class="help-block">The Fee is USD 0.30</p></div>

  <input class="btn btn-default" name="commit" type="submit" value="Remit Now" />
</form>
    </div>
  </div>
</div>

</div>
